.product_detail_con {
    width: 100%;
    padding: 10px 10px 10px 10px;
    float: left;
}

.product_detail{
    padding: 20px;
}

.product_detail p{
    margin: 0;
}

.head_brand{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.head_name{
    font-weight: 500;
    color: rgb(95, 95, 95);
    font-size: 18px;
}

.head_price{
    font-weight: bold;
    font-size: 18px;
}

.pro_det_sid{
    width: 30%;
    padding: 10px 10px 10px 10px;
    float: left;
}
